*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/1090972/pexels-photo-1090972.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-color: #2f4f4f;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: #2f4f4f;
    width: 60%;
    min-width: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 15px 15px rgba(178, 39, 245, 0.8);
}

.image-container{
    position: relative;
    width: 100%;
    border: 1px solid rgba(178, 39, 245, 0.8)
}

img{
    position: relative;
    width: 100%;
}

.active{
    display: block;
}

.dot-container{
    width: 150px;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button{
    outline: none;
    cursor: pointer;
}

.dot-container button{
    height: 13px;
    width: 13px;
    border: 2px solid rgba(178, 39, 245, 0.8);
    background-color: transparent;
}

.dot-container button:nth-child(1){
    background-color: rgba(178, 39, 245, 0.8);
}

#prev,#next{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: rgba(178, 39, 245, 0.8);
    color: white;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
}

#prev{
    left: 15px;
}

#next{
    right: 15px;
}




